 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

#layerControll {
	width: 400px;
	background-color:rgba(255,0,0,0);
	font-size: 25px;
	border: 2px solid black;
	padding-left: 5px;
	font-family: Century Gothic;
	@font-face { font-family: Century Gothic; src: url('4365.ttf');
}