 html, body, #map-canvas {
<<<<<<< HEAD
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.layerToggle {
	padding: 5px; 
	z-index: 0; 
	position: absolute; 
	right: 10px; 
	top: 100px;
}

.layerToggle div {
	border-style: solid; 
	border-width: 1px; 
	cursor: pointer; 
	text-align: center; 
}
.selected div {
	background-color: #ddd;
	font-weight: bold;
}
.unselected div {
	font-weight: normal;
	background-color: white;
}
/*.selcted div and .unselcted div*/
.layerToggle div div {
	font-family: 'Century Gothic'; 
	font-size: 20px; 
	padding-left: 4px; 
	padding-right: 4px; 
=======
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
#layerControll {
	width: 260px;
	background-color:rgba(255,0,0,0);
	font-size: 25px;
	border: 2px solid black;
	padding-left: 5px;
	font-family: Century Gothic;
	@font-face { font-family: Century Gothic; src: url('4365.ttf');
>>>>>>> 8882c241b2964d27d0a9b7c989d3c7ef26baae51
}